Django==5.1.5
djangorestframework==3.15.2
selenium==4.28.0
dj-database-url==2.3.0
djoser
django-oauth-toolkit
django-rest-framework-social-oauth2==1.2.0
django-cors-headers
beautifulsoup4==4.10.0
whitenoise
django-import-export